@font-face {
  font-family: "Pixel Emulator";
  src: url("./assets/fonts/Pixel Emulator.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #222;
  font-family: "Pixel Emulator", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContenedorPokedex {
  position: relative;
  width: 1600px;
  height: 1600px;
}

.Pokedex {
  width: 100%;
  height: 100%;
  display: block;
}


.ContenedorPokemon {
  position: absolute;
  top: 590px;    /* ajustá esto a ojo hasta que caiga dentro de la pantalla gris */
  left: 200px;    /* idem */
  width: 300px;  /* ancho aproximado de la pantalla gris en tu diseño */
  height: 200px; /* alto aproximado */
}

.ContenedorImg {
  display: flex;
  justify-content: center;
}

.ImgPokemon {
  width: 200px;
  height: 200px;
}

.ContenedorDatos {
  display: flex;
  flex-direction: column;
}