body {
  background-color: #222;
}

.ContenedorPokemon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ContenedorImg {
  display: flex;
  justify-content: center;
}

.ImgPokemon {
  width: 300px;
  height: 300px;
}

.ContenedorDatos {
  display: flex;
  flex-direction: column;
}